* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: #470947;
    background-size: 175% 175%;
    animation: gradient-anim 20s ease infinite;
    color: #cb3eb2;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }
  @keyframes gradient-anim {
    0% {
      background: #230023;
    }
    50% {
      background: #8b198b;
    }
    100% {
      background: #230023;
    }
  }
  header {
    font-size: 6vmin;
  }
  header h1 {
    max-width: 80vw;
    text-align: center;
    font-size: 6vmin;
    margin-left: auto;
    margin-right: auto;
    -webkit-user-select: none;
    -moz-selec-webkit-user-select: none;
    -ms-selec-webkit-user-select: none;
    user-select: none;
  }

  header,
  form {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form input,
  form button {
    color: #cb3eb2;
    background: white;
    padding: 0.5vmin;
    font-size: 3vmin;
    border: none;
  }
  form input::placeholder {
    color: #cb3eb168;
  }
  form input:focus {
    outline: none;
  }
  form button {
    cursor: pointer;
    transition: color 0.3s, background 0.3s ease;
  }
  form button:hover {
    background: #cb3eb2;
    color: white;
  }

  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .todo-list {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  .todo {
    width: 80vmin;
    background: white;
    font-size: 3vmin;
    color: #cb3eb2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5vmin;
  }
  .todo li {
    flex: 1;
  }
  .todo-item {
    overflow: hidden;
    overflow-wrap: break-word;
    transition: opacity 0.3s ease;
  }
  .complete-btn,
  .trash-btn {
    border: none;
    padding: 1.5vmin;
    cursor: pointer;
    font-size: 1.75vmin;
    transition: background 0.3s ease;
    color: white;
  }
  .complete-btn {
    background: #cb3eb2;
  }
  .complete-btn:hover {
    background: #a2318d;
  }
  .trash-btn {
    background: #b524cb;
  }
  .trash-btn:hover {
    background: #9115a4;
  }
  .fa-check,
  .fa-trash {
    pointer-events: none;
  }

  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }

  .select {
    /* margin: 1vmin; */
    position: relative;
    overflow: hidden;
    transition: outline 0.1s ease;
    align-items: center;
    margin-left: 1.5vmin;
    height: auto;
    width: auto;
  }
  .select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    background: #b524cb;
    color: white;
    cursor: pointer;
    pointer-events: none;
    padding: 1vmin;
    font-size: 2vmin;
  }
  .select:hover {
    outline: 5px solid #cf83dbf6;
  }
  select {
    -webkit-appearance: menulist;
    -moz-appearance: menulist;
    -ms-appearance: menulist;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
    color: #b524cb;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    font-size: 2.5vmin;
    padding: 0.4vmin;
    width: 22vmin;
  }