* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: #470947;
    background-size: 175% 175%;
    animation: gradient-anim 20s ease infinite;
    color: #cb3eb2;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }
  header {
    margin: auto;
    text-align: center;
  }

  @keyframes gradient-anim {
    0% {
      background: #230023;
    }
    50% {
      background: #8b198b;
    }
    100% {
      background: #230023;
    }
  }
  
  header,
  form {
  }
  form {
  }
  form input,
  form button {
    color: #cb3eb2;
  }
  form input {
  }
  form input:focus {
    outline: none;
  }
  form button {
    color: #b524cb;
    background: white;
    cursor: pointer;
  }
  form button:hover {
    background: #b524cb;
    color: white;
  }
  .todo-container {

  }
  
  .todo-list {
  }
  
  .todo {
  }
  .filter-todo {
    color: #cb3eb2;
  }
  .todo li {
  }

  .trash-btn,
  .complete-btn {
    background: #b524cb;
    color: white;
  }
  .complete-btn {
    background: #cb3eb2;
  }
  .todo-item {
    overflow: hidden;
    overflow-wrap: break-word;
  }

  .complete-btn:hover {
    background: #a2318d;
  }
  .trash-btn:hover {
    background: #9115a4;
  }
  
  .fa-trash,
  .fa-check {
    pointer-events: none;
  }
  
  .fall {
    outline: none;
    animation: fall-anim 0.5s ease forwards;
  }

  @keyframes fall-anim {
    100% {
      transform: translateY(10rem) rotateZ(20deg);
      opacity: 0;
    }
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  
  /*CUSTOM SELECTOR */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
  }
  
  /* Custom Select */
  .select {
  }
  select {
    font-family: "Poppins", sans-serif;
    cursor: pointer;
  }
  option {
  }
  /* Arrow */
  .select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    pointer-events: none;
  }

  /* Outline hovers */
  .todo:hover,
  .select:hover {
    outline: 5px solid #cf83dbf6;
  }