* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: #470947;
    background-size: 175% 175%;
    animation: gradient-anim 20s ease infinite;
    color: #cb3eb2;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }
  header {
    font-size: 2rem;
    margin: auto;
    text-align: center;
  }

  @keyframes gradient-anim {
    0% {
      background: #230023;
    }
    50% {
      background: #8b198b;
    }
    100% {
      background: #230023;
    }
  }
  
  header,
  form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form input,
  form button {
    max-width: 50%;
    height: 56px;
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
    color: #cb3eb2;
  }
  form input:focus {
    outline: none;
  }
  form button {
    color: #b524cb;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  form button:hover {
    background: #b524cb;
    color: white;
  }
  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .todo-list {
    min-width: 30%;
    list-style:none;
    transition: all 0.3s ease;
  }
  
  .todo {
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    color: #cb3eb2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
  }
  .filter-todo {
    padding: 1rem;
    color: #cb3eb2;
  }
  .todo li {
    flex: 1;
  }
  .todo:hover {
    outline: 5px solid #cf83dbf6;
  }
  
  .trash-btn,
  .complete-btn {
    background: #b524cb;
    color: white;
    border: none;
    padding-left: 1rem;
    padding-right:1rem;
    padding-top:1.65rem;
    padding-bottom:1.65rem;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
  }
  .complete-btn {
    background: #cb3eb2;
  }
  .todo-item {
    transition: all 0.3s ease;
    padding: 0rem 0.5rem;
    overflow: hidden;
    overflow-wrap: break-word;
  }

  .complete-btn:hover {
    background: #a2318d;
  }
  .trash-btn:hover {
    background: #9115a4;
  }
  
  .fa-trash,
  .fa-check {
    pointer-events: none;
  }
  
  .fall {
    outline: none;
    animation: fall-anim 0.5s ease forwards;
  }

  @keyframes fall-anim {
    100% {
      transform: translateY(10rem) rotateZ(20deg);
      opacity: 0;
    }
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  
  /*CUSTOM SELECTOR */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    height:56px;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
  }
  
  /* Custom Select */
  .select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    max-width: 25%;
  }
  select {
    color: #cb3eb2;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 12rem;
  }
  /* Arrow */
  .select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: #b524cb;
    color: white;
    cursor: pointer;
    pointer-events: none;
  }